/*
!app/
/app/*

!app/code/
/app/code/*

!app/code/local/
/app/code/local/*

!app/code/community/
/app/code/community/*

!app/design/
/app/design/*
!app/design/frontend/
/app/design/frontend/*

!app/design/frontend/magento-foundation-sass/
/app/design/frontend/magento-foundation-sass/*
!app/design/frontend/magento-foundation-sass/default/

!app/etc/
/app/etc/*
!app/etc/modules/
/app/etc/modules/*

!js/
/js/*
!js/foundation/
!js/magento-foundation-sass/

!skin/
/skin/*
!skin/frontend/
/skin/frontend/*

!skin/frontend/magento-foundation-sass/
/skin/frontend/magento-foundation-sass/*
!skin/frontend/magento-foundation-sass/default/

!.gitignore
!package.json
!gulpfile.js